<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclePro"
        tools:targetApi="31">
        <activity
            android:name=".activities.Assessor.DetailProductRecyclingDecision"
            android:exported="false" />
        <activity
            android:name=".activities.Assessor.ProductRecyclingDecisionSide"
            android:exported="false" />
        <activity
            android:name=".activities.AssessmentAnalysis"
            android:exported="false" />
        <activity
            android:name=".activities.CustomerAnalysis"
            android:exported="false" />
        <activity
            android:name=".activities.Customer.CustomerAnalysis"
            android:exported="false"
            android:theme="@style/Theme.RecyclePro" />
        <activity
            android:name=".activities.Customer.DetailRecycleSubmissionHistorySide"
            android:exported="false" />
        <activity
            android:name=".activities.Customer.CustomerMenuSide"
            android:exported="false" />
        <activity
            android:name=".activities.Customer.RecyclingSubmissionHistorySide"
            android:exported="false" />
        <activity
            android:name=".activities.Assessor.AssessmentMenuSide"
            android:exported="false" />
        <activity
            android:name=".activities.Assessor.EvaluationHistorySide"
            android:exported="false" />
        <activity
            android:name=".activities.Assessor.DetailEvaluationHistorySide"
            android:exported="false" />
        <activity
            android:name=".activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".activities.Assessor.WaitingProductListSide"
            android:exported="false" />
        <activity
            android:name=".activities.Customer.SubmitProductSide"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>